.container {
    width: 1140px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    
    
}
.logo {
    color: black;
    font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 31px;
/* identical to box height */

letter-spacing: 0.03em;
}
.logo span {
    color: #2196F3;
}
.links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 280px;
    list-style-type: none;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    margin-top: 20px;
    color: #212121;
    
}
.links a {
    color: #212121;
}
.links a:hover {
    color: #2196F3;
}

.header_block {
    display: flex;
    justify-content: space-between;
  
    align-items: center;
  }
  .header_left {
    display: flex;
    width: 520px;
    justify-content: space-between;
    align-items: center;
    color: #212121;
    
 }
 .header_left {
    display: flex;
 }
 .contacts a {
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;

color: #757575;

 }
 .contacts {
    width: 330px;
 }
 .contacts a:hover {
    color: #2196F3;
 }

 .tel> a {
    color: #757575;
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;


 }
 .tel> a:hover {
    color: #2196F3;
 }

 
 .tel:hover,
.tel:hover path {
  color: #2196F3;
  fill: #2196F3; }

  .email:hover,
.email:hover path {
  color: #2196F3;
  fill: #2196F3; }
